<%- include ./partials/header.ejs %>
<body>
  <div class="login-form">
      <div class="image">
        <img src="/images/icon.png" alt="" class="logo"/>
      </div>
      <form action="/login" method="post">
        <div class="form-group ">
          <input type="text" class="form-control" placeholder="Username " id="UserName" name='username' required>
          <i class="fa fa-user"></i>
        </div>
        <div class="form-group log-status">
          <input type="password" class="form-control" placeholder="Password" id="Passwod" name='password' required>
          <i class="fa fa-lock"></i>
        </div>
        <span class="alert">Invalid Credentials</span>
        <button type="submit" class="log-btn" >Log in</button>
      </form>
      <br><br>
      <a class="link" href="/register">Not registerd yet? Sign Up here</a> <br><br>
      <% if(error !== null) {%>
        <p class="text-center alert-danger-cstm"><%= error %></p>
      <% } %>
  </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="javascripts/index.js"></script>
</body>
</html>
